$color1: #f7f7f7;
$color2: #eeeeee;
$color3: #929aab;
$color4: #393e46;

@mixin box {
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.25);    
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: $color1;
    color: $color4;
    margin: 0;
}

h1, h3 {
    font-family: 'Raleway', sans-serif;
}

// Nav
nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    padding: 0 30px;
    font-size: 30px;
    background-color: $color2;
    @include box();

    a {
        color: $color3;
    }
    a:hover {
        color: $color4;
        transition: 0.6s ease-in;
    }
    .active {
        color: $color4;
      }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
 {  
     nav{
        flex-direction: row;
        padding: 20px 0;
        height: 40px;
        width: 100vw;
 }
    
}

// Main
main {
    width: 70%;
    margin: 150px auto;
    background: $color1;
    text-align: center;
}

// Footer
footer {
    display: flex;
    justify-content: center;
    font-size: 20px;
    background-color: cadetblue;
}
