@import "../global.scss";

.about-me {
    img {
        box-shadow: $strong-shadow;
    }
}

.bio {
    display      : flex;
    align-items  : center;
    margin-bottom: 60px;

    img {
        width       : 180px;
        height      : 180px;
        margin-right: 70px;
    }
}

.challenge {
    display       : flex;
    flex-direction: row-reverse;
    align-items   : center;
    margin-bottom : 60px;

    img {
        width : 150px;
        height: 150px;
        margin: 20px;
    }
}

.interests {
    margin-bottom: 70px;

    img {
        width : 130px;
        height: 130px;
        margin: 30px;
    }
}

.interests-title {
    text-align: right;
}

.photo-wrapper {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
    .bio {
        flex-direction: column;
        margin        : 0;

        img {
            margin: 15px 0 30px;
        }
    }

    .challenge {
        flex-direction: column;
        margin        : 0;

        .photo-wrapper {
            flex-wrap: nowrap;
        }

        img {
            width : 110px;
            height: 110px;
            margin: 12px;
        }
    }

    .interests {
        margin: 0;

        img {
            width : 95px;
            height: 95px;
            margin: 12px;
        }
    }
}