@import "../global.scss";

.about-me {
    img {
        border-radius: 5px;
        box-shadow   : $strong-shadow;
    }
}

.bio {
    display      : flex;
    align-items  : center;
    margin-bottom: 50px;

    img {
        width       : 180px;
        height      : 180px;
        margin-right: 70px;
    }
}

.challenge {
    display       : flex;
    flex-direction: row-reverse;
    align-items   : center;
    margin-bottom : 50px;

    img {
        width : 150px;
        height: 150px;
        margin: 20px;
    }
}

.interests {
    img {
        width : 135px;
        height: 135px;
        margin: 30px;
    }
}

.challenge-photo,
.interests-photo {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
    h3 {
        font-size: 22px;
    }

    .bio {
        flex-direction: column;
        margin        : 0;

        img {
            margin: 20px 0 30px;
        }
    }

    .challenge {
        flex-direction: column;
        margin        : 0;

        .challenge-photo {
            flex-wrap: nowrap;
        }

        img {
            width : 120px;
            height: 120px;
            margin: 15px;
        }
    }

    .interests {
        margin: 0;

        img {
            width : 110px;
            height: 110px;
            margin: 15px;
        }
    }
}