body {
  font-size: 20px;
  font-family: 'Manrope', sans-serif;
  letter-spacing: 1px;
  background-color: #eeeeee;
  color: #393e46;
  margin: 0; }

h1 {
  text-align: center; }

h2 {
  border-bottom: 2px solid #393e46;
  padding-bottom: 12px; }

h1,
h2,
h3 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px; }

img {
  border-radius: 5px; }

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  padding: 0 25px;
  font-size: 28px;
  background-color: #f7f7f7;
  box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.2);
  z-index: 1; }
  nav a {
    position: relative;
    color: #929aab;
    animation-name: left-fade-in;
    animation-duration: 2s; }
  nav a:hover {
    color: #393e46;
    transition: 1s ease;
    transform: rotate(360deg); }
  nav .active {
    color: #393e46; }
@keyframes left-fade-in {
  0% {
    left: -150px;
    opacity: .1; }
  50% {
    font-size: 18px;
    top: 0; }
  100% {
    left: 0; } }
main {
  display: flex;
  flex-direction: column;
  padding: 30px 150px 20px 240px; }
  main a {
    color: #c06c84;
    text-decoration: none; }
  main a:hover {
    color: #393e46;
    transition: .5s ease-in-out; }
  main h1 {
    position: relative;
    animation-name: top-fade-in;
    animation-duration: 2s; }
@keyframes top-fade-in {
  0% {
    top: -150px;
    opacity: 0.1; }
  50% {
    font-size: 30px;
    top: 0; }
  100% {
    top: 0; } }
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-top: 15px; }

@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
  nav {
    flex-direction: row;
    width: 100vw;
    height: 30px;
    padding: 20px 0; }

  main {
    padding: 100px 60px 20px 60px; }

  footer {
    font-size: 16px; } }
.about-me img {
  box-shadow: 10px 15px 15px -5px rgba(50, 50, 50, 0.4); }

.bio {
  display: flex;
  align-items: center;
  margin-bottom: 60px; }
  .bio img {
    width: 180px;
    height: 180px;
    margin-right: 70px; }

.challenge {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 60px; }
  .challenge img {
    width: 150px;
    height: 150px;
    margin: 20px; }

.interests {
  margin-bottom: 70px; }
  .interests img {
    width: 130px;
    height: 130px;
    margin: 20px; }

.interests-title {
  text-align: right; }

.photo-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
  .bio {
    flex-direction: column;
    margin: 0; }
    .bio img {
      margin: 15px 0 30px; }

  .challenge {
    flex-direction: column;
    margin: 0; }
    .challenge .photo-wrapper {
      flex-wrap: nowrap; }
    .challenge img {
      width: 110px;
      height: 110px;
      margin: 12px; }

  .interests {
    margin: 0; }
    .interests img {
      width: 95px;
      height: 95px;
      margin: 12px; } }

/*# sourceMappingURL=about-me.css.map */
