body {
  font-size: 20px;
  font-family: 'Manrope', sans-serif;
  letter-spacing: 1px;
  background-color: #eeeeee;
  color: #393e46;
  margin: 0; }

h1 {
  text-align: center; }

h2 {
  border-bottom: 2px solid #393e46;
  padding-bottom: 12px; }

h1,
h2,
h3 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px; }

img {
  border-radius: 5px; }

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  padding: 0 25px;
  font-size: 28px;
  background-color: #f7f7f7;
  box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.2);
  z-index: 1; }
  nav a {
    position: relative;
    color: #929aab;
    animation-name: left-fade-in;
    animation-duration: 2s; }
  nav a:hover {
    color: #393e46;
    transition: 1s ease;
    transform: rotate(360deg); }
  nav .active {
    color: #393e46; }
@keyframes left-fade-in {
  0% {
    left: -150px;
    opacity: .1; }
  50% {
    font-size: 18px;
    top: 0; }
  100% {
    left: 0; } }
main {
  display: flex;
  flex-direction: column;
  padding: 30px 150px 20px 240px; }
  main a {
    color: #c06c84;
    text-decoration: none; }
  main a:hover {
    color: #929aab;
    transition: .3s ease-in-out; }
  main h1 {
    position: relative;
    animation-name: top-fade-in;
    animation-duration: 2s; }
@keyframes top-fade-in {
  0% {
    top: -150px;
    opacity: 0.1; }
  50% {
    font-size: 30px;
    top: 0; }
  100% {
    top: 0; } }
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-top: 15px; }

@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
  nav {
    flex-direction: row;
    width: 100vw;
    height: 30px;
    padding: 20px 0; }

  main {
    padding: 100px 60px 20px 60px; }

  footer {
    font-size: 16px; } }
.contact-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin: 20px auto 50px; }

.name-card {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  box-shadow: 10px 15px 15px -5px rgba(50, 50, 50, 0.4);
  border-radius: 5px;
  text-transform: uppercase; }

.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto; }
  .avatar img {
    box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.2);
    border-radius: 50%;
    width: 40%;
    margin: 20px auto; }
  .avatar h2 {
    font-size: 26px; }
  .avatar h5 {
    font-size: 14px;
    margin-top: 5px; }

.avatar-wrapper {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #c06c84;
  margin-bottom: 10px;
  margin-top: 2px; }

.contact-links {
  display: flex;
  justify-content: center;
  align-items: center; }
  .contact-links i {
    font-size: 24px;
    border: 2px solid #c06c84;
    border-radius: 50%;
    padding: 12px;
    margin: 0 10px 20px; }
  .contact-links i:hover {
    color: #929aab;
    border: 2px solid #929aab;
    transition: .3s ease-in-out; }

.contact-form {
  display: flex;
  align-items: center;
  justify-content: center; }
  .contact-form input,
  .contact-form textarea {
    color: #393e46;
    font-size: 18px;
    background-color: #eeeeee;
    border: none;
    width: 250px; }
  .contact-form input {
    border-bottom: 1px solid #393e46;
    border-radius: 0;
    padding-bottom: 20px; }
  .contact-form textarea {
    resize: none;
    height: 130px; }
  .contact-form input:focus,
  .contact-form textarea:focus {
    outline: none; }
  .contact-form ::placeholder {
    color: #393e46;
    font-family: 'Manrope', sans-serif;
    font-size: 16px; }
  .contact-form button {
    font-size: 16px;
    padding: 5px; }

@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
  .contact-wrapper {
    grid-template-columns: 1fr; }

  .contact-form {
    justify-content: center; } }

/*# sourceMappingURL=contact.css.map */
