@import "../global.scss";

$card: #c06c84;

.name-card {
    display         : flex;
    flex-direction  : column;
    background-color: $color1;
    box-shadow      : $strong-shadow;
    border-radius   : 5px;
    text-transform  : uppercase;
    margin          : 20px auto;
}

.avatar {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    text-align     : center;
    margin         : 0 auto;

    img {
        box-shadow   : $light-shadow;
        border-radius: 50%;
        width        : 45%;
        margin       : 20px;
    }

    h2 {
        font-size: 28px;
    }

    h5 {
        margin-top: 5px;
    }
}

.contact-photo {
    background-color: $card;
    margin-bottom   : 20px;
}

.contact-links {
    display        : flex;
    justify-content: center;
    align-items    : center;

    i {
        font-size    : 30px;
        color        : $card;
        border       : 2px solid $card;
        border-radius: 50%;
        padding      : 15px;
        margin       : 10px 10px 40px;
        transition   : .5s ease-in-out;
    }

    i:hover {
        color : $color4;
        border: 2px solid $color4;
    }
}