@import "../global.scss";

.contact-wrapper {
    display              : grid;
    grid-template-columns: 1fr 1fr;
    grid-gap             : 30px;
    margin               : 0 0 20px;
}

.name-card {
    display         : flex;
    flex-direction  : column;
    background-color: $color1;
    box-shadow      : $strong-shadow;
    border-radius   : 5px;
    text-transform  : uppercase;
    margin          : 0 auto;
}

.avatar {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    text-align     : center;
    margin         : 0 auto;

    img {
        box-shadow   : $light-shadow;
        border-radius: 50%;
        width        : 40%;
        margin       : 20px auto;
    }

    h2 {
        font-size: 26px;
    }

    h5 {
        font-size: 14px;
        margin-top: 5px;
    }
}

.avatar-wrapper {
    border-top-left-radius : 5px;
    border-top-right-radius: 5px;
    background-color       : $color5;
    margin-bottom          : 10px;
    margin-top: 2px;
}

.contact-links {
    display        : flex;
    justify-content: center;
    align-items    : center;

    i {
        font-size    : 24px;
        border       : 2px solid $color5;
        border-radius: 50%;
        padding      : 12px;
        margin       : 0 10px 20px;
        transition   : .3s ease-in-out;
    }

    i:hover {
        color : $color4;
        border: 2px solid $color4;
    }
}

.contact-form {
    display: flex;

    input,
    textarea {
        color           : $color4;
        font-size       : 18px;
        background-color: $color2;
        border          : none;
        width           : 250px;
    }

    input {
        border-bottom : 1px solid $color4;
        border-radius: 0;
        padding-bottom: 20px;
    }

    textarea {
        resize: none;
        height: 130px;
    }

    input:focus,
    textarea:focus {
        outline: none;
    }

    ::placeholder {
        color      : $color4;
        font-family: 'Manrope', sans-serif;
        font-size  : 16px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
    .contact-wrapper {
        grid-template-columns: 1fr;
    }

    .contact-form {
        justify-content: center;
    }
}