@import "../global.scss";

.name-card {
    display         : flex;
    flex-direction  : column;
    background-color: $color1;
    box-shadow      : $strong-shadow;
    border-radius   : 5px;
    text-transform  : uppercase;
    margin          : 20px auto 50px;
}

.avatar {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    text-align     : center;

    margin: 40px auto 0;

    img {
        box-shadow   : $light-shadow;
        border-radius: 50%;
        width        : 45%;
        margin       : 20px;
    }

    h2 {
        font-size: 28px;
    }

    h5 {
        margin-top: 5px;
    }
}

.contact-photo {
    background-color: rgb(231, 231, 231);
    margin-bottom   : 20px;
}

.contact-links {
    display        : flex;
    justify-content: center;
    align-items    : center;

    a {
        color: $color3;
    }
    i {
        font-size    : 30px;
        border       : 2px solid $color3;
        border-radius: 50%;
        padding      : 15px;
        margin       : 0 10px 30px;
        transition: .5s ease-in-out;
    }

    i:hover {
        color: $color4;
        border: 2px solid $color4;
    }
}