.index {
    height         : 100vh;
    padding        : 0;
    justify-content: center;
    align-items    : center;
    text-align     : center;

    .title {
        letter-spacing: 6px;
        position      : relative;
        animation-name: fade-in;
    }

    h1 {
        text-transform    : uppercase;
        font-size         : 70px;
        margin-bottom     : 130px;
        animation-duration: 6s;
    }

    h4 {
        animation-duration: 4s;
    }

    h5 {
        margin            : 0;
        animation-duration: 3s;
    }
}

@keyframes fade-in {
    0% {
        top    : -150px;
        opacity: 0.1;
    }

    50% {
        top: 0;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
    .index h1 {
        font-size: 50px;
    }
}