.index {
    height: 100vh;
    padding: 0;
    justify-content: center;
    align-items: center;
    .title {
        font-family   : 'Raleway', sans-serif;
        text-align: center;
        letter-spacing: 5px;
        position      : relative;
        animation-name: fade;
    }

    h1 {
        text-transform: uppercase;
        font-size: 70px;
        margin-bottom: 120px;
        animation-duration: 6s;
    }

    h3 {
        margin-bottom: 2px;
        animation-duration: 4s;
    }

    h4 {
        animation-duration: 3s;
    }
}


@keyframes fade {
    0% {
        top    : -150px;
        opacity: 0.1;
    }

    50% {
        top: 0;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
    .index h1 {
        font-size: 50px;
    }
}