@import "../globals.scss";

// Projects
.projects {
    display              : grid;
    justify-items        : center;
    text-align           : center;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap             : 65px;
    margin               : 30px 0;

    img {
        width     : 240px;
        height    : 170px;
        box-shadow: $strong-shadow;
    }

    figure {
        position: relative;
        margin  : 0;
    }

    figcaption {
        position     : absolute;
        top          : 0;
        bottom       : 0;
        left         : 0;
        right        : 0;
        border-radius: 5px;
        width        : 240px;
        height       : 170px;
        background   : $color4;
        color        : $color1;
        visibility   : hidden;
        opacity      : 0;
        margin       : 0 auto;
    }

    figure:hover figcaption {
        visibility: visible;
        opacity   : .9;
        transition: .5s ease-in-out;
    }

    h4 {
        background-color: $color1;
        color           : $color4;
        padding         : 8px;
    }

    i {
        font-size: 18px;
        margin   : 0 6px;
    }
}

// Repo Icons
.repo {
    display        : flex;
    justify-content: center;
    align-items    : center;
    padding-top    : 60px;

    i {
        font-size   : 35px;
        color       : $color4;
        opacity     : .8;
        margin-right: 35px;
    }

    i:hover {
        color: $color3;
    }

    img {
        width : 43px;
        height: 43px;
        filter: grayscale(100%);
    }

    img:hover {
        transition: .5s ease-in-out;
        opacity   : .6;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
    .repo {
        i {
            font-size   : 30px;
            margin-right: 30px;
        }

        img {
            width : 38px;
            height: 38px;
        }
    }
}