@import "../global.scss";

.projects {
    display              : grid;
    text-align           : center;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap             : 60px;
    margin               : 30px 0;

    img {
        width        : 200px;
        height       : 140px;
        box-shadow   : $strong-shadow;
        border-radius: 8px;
    }

    figure {
        margin  : 0;
        position: relative;
    }

    figcaption {
        position  : absolute;
        top       : 0;
        bottom    : 0;
        left      : 0;
        right     : 0;
        border-radius: 8px;
        width: 200px;
        margin: 0 auto;
        background: $color4;
        color     : $color1;
        visibility: hidden;
        opacity   : 0;
    }

    figure:hover figcaption {
        visibility: visible;
        opacity: 0.9;
        transition: 0.6s ease-in-out;
    }
    h4 {
        background-color: $color1;
        color: $color4;
        padding: 8px;
    }
    p {
        margin-top: -20px;
    }
    i {
        font-size: 18px;
        margin   : 0 6px;
    }

}