body {
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  background-color: #eeeeee;
  color: #393e46;
  margin: 0; }

p {
  font-family: 'Manrope', sans-serif; }

h2 {
  border-bottom: 2px solid #393e46;
  padding-bottom: 15px; }

h1,
h2,
h3,
h4 {
  letter-spacing: 2px; }

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  width: 30px;
  padding: 0 30px;
  font-size: 28px;
  background-color: #f7f7f7;
  box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.2);
  z-index: 1; }
  nav a {
    color: #929aab;
    position: relative;
    animation-name: left-fade-in;
    animation-duration: 2s; }
  nav a:hover {
    color: #393e46;
    transition: 1s ease-in-out;
    transform: rotate(360deg); }
  nav .active {
    color: #393e46; }
@keyframes left-fade-in {
  0% {
    left: -150px;
    opacity: 0.1; }
  50% {
    font-size: 18px;
    top: 0; }
  100% {
    left: 0; } }
main {
  display: flex;
  padding: 30px 150px 30px 280px; }
  main a {
    color: #393e46; }
  main a:hover {
    color: #929aab;
    transition: .5s ease-in-out; }
  main h1 {
    position: relative;
    animation-name: top-fade-in;
    animation-duration: 2s; }
@keyframes top-fade-in {
  0% {
    top: -150px;
    opacity: 0.1; }
  50% {
    font-size: 30px;
    top: 0; }
  100% {
    top: 0; } }
footer {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px; }

@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
  nav {
    flex-direction: row;
    width: 100vw;
    height: 40px;
    padding: 20px 0; }

  main {
    padding: 120px 60px 20px 60px; }
    main h1, main h2 {
      text-align: center; }

  footer {
    font-size: 13px; } }
.fullstack {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  justify-items: center;
  align-items: center;
  margin: 20px 0; }

.tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f7f7f7;
  box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.2);
  padding: 30px 0; }
  .tools svg,
  .tools img {
    width: 45px;
    height: 45px;
    margin: 15px; }

.fullstack-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 0; }
  .fullstack-list h3 {
    font-size: 30px;
    text-transform: uppercase;
    margin: 0; }
  .fullstack-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .fullstack-list i {
    margin: 10px;
    opacity: .7; }

.certification {
  display: grid;
  justify-items: center;
  align-items: top;
  text-align: center;
  grid-template-columns: 1fr 1fr; }
  .certification img {
    width: 260px;
    height: 180px;
    margin: 30px 0 20px;
    box-shadow: 10px 15px 15px -5px rgba(50, 50, 50, 0.4); }
  .certification figure {
    margin: 0; }
  .certification time {
    font-size: 18px; }
  .certification p {
    font-size: 20px; }
  .certification .iconify,
  .certification i {
    margin: 0 5px; }

@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
  .fullstack,
  .certification {
    grid-template-columns: 1fr; }

  .tools {
    padding: 16px 0; }
    .tools svg,
    .tools img {
      width: 24px;
      height: 24px;
      margin: 8px; }

  .certification img {
    width: 200px;
    height: 140px; } }

/*# sourceMappingURL=skills.css.map */
