@import "../globals.scss";

.fullstack {
    display              : grid;
    grid-template-columns: 1.5fr 1fr;
    justify-items        : center;
    align-items          : center;
    margin               : 20px 0 30px;
}

.tools {
    display         : flex;
    flex-wrap       : wrap;
    justify-content : center;
    background-color: $color1;
    border-radius   : 5px;
    box-shadow      : $light-shadow;
    padding         : 20px 0;

    svg,
    img {
        width : 40px;
        height: 40px;
        margin: 10px;
    }
}

.fullstack-list {
    display       : flex;
    flex-direction: column;
    align-items   : center;

    h3 {
        font-size     : 30px;
        text-transform: uppercase;
        margin        : 0;
    }

    ul {
        list-style-type: none;
        margin         : 0;
        padding        : 0;
    }

    i {
        margin : 10px;
        opacity: .7;
    }
}

.certification {
    display              : grid;
    justify-items        : center;
    align-items          : top;
    text-align           : center;
    grid-template-columns: 1fr 1fr;

    img {
        width     : 240px;
        height    : 170px;
        margin    : 20px 0 15px;
        box-shadow: $strong-shadow;
    }

    figure {
        margin: 0;
    }

    figcaption {
        padding: 20px;
    }

    time {
        font-size : 18px;
        font-style: italic;
    }

    p {
        font-size: 20px;
    }

    i {
        margin-right: 3px;
    }

    .iconify {
        margin: 0 3px -3px 0;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
    .skills {
        h2 {
            text-align: center;
        }
    }

    .fullstack,
    .certification {
        grid-template-columns: 1fr;
    }

    .fullstack {
        grid-gap  : 40px;
        margin-top: 10px;
    }

    .tools {
        padding: 15px 0;

        svg,
        img {
            width : 25px;
            height: 25px;
            margin: 8px;
        }
    }
}