@import "../global.scss";
 
.fullstack {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 20px 0;
}

.tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $color1;
    box-shadow: $light-shadow;
    padding: 30px 5px;
    svg,
    img {
        width : 45px;
        height: 45px;
        margin: 15px;
      }
}

.fullstack-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0;
    h3 {
        font-size: 30px;
        text-transform: uppercase;
        margin: 0;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    i {
        margin: 10px;
        opacity: .7;
    }
} 

.certification {
    display              : grid;
    justify-items        : center;
    align-items          : top;
    text-align           : center;
    grid-template-columns: 1fr 1fr;
    img {
        width: 260px;
        height: 180px;
        margin: 30px 0 20px;
        box-shadow: $light-shadow;
    }
    figure {
        margin: 0;
    }
    time {
        font-size: 18px;
    }
    p {
        font-size: 20px;
    }
    .iconify,
    i {
        margin: 0 5px;
    }
}


@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
    .fullstack,
    .certification {
        grid-template-columns: 1fr;
    }
    .certification {
        img {
            width: 200px;
            height: 140px;
       }
    }
}
    