@import "../global.scss";
 
.fullstack {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
}

.tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $color1;
    box-shadow: $light-shadow;
    padding: 30px 5px;
    svg,
    img {
        width : 45px;
        height: 45px;
        margin: 15px;
      }
}

.fullstack-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    h3 {
        font-size: 30px;
        text-transform: uppercase;
        margin: 0;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    i {
        margin: 10px;
        opacity: .7;
    }
} 

.certification {
}


@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
    .fullstack {
        grid-template-columns: 1fr;
    }

}
    