$color1: #f7f7f7;
$color2: #eeeeee;
$color3: #929aab;
$color4: #393e46;
$shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.25);

@mixin left-border {
    border-left : 2px solid $color4;
    padding-left: 20px;
}

body {
    font-family     : 'Manrope', sans-serif;
    background-color: $color2;
    color           : $color4;
    margin          : 0;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

// Nav
nav {
    position        : fixed;
    top             : 0;
    left            : 0;
    display         : flex;
    flex-direction  : column;
    justify-content : space-evenly;
    height          : 100vh;
    width           : 30px;
    padding         : 0 30px;
    font-size       : 30px;
    background-color: $color1;
    box-shadow      : $shadow;

    a {
        color: $color3;
    }

    a:hover {
        color     : $color4;
        transition: 1s ease;
        transform : rotate(360deg);
    }

    .active {
        color: $color4;
    }
}

// Main
main {
    display        : flex;
    flex-direction : column;
    justify-content: flex-start;
    align-items    : center;
    padding        : 120px 150px 120px 280px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
    nav {
        flex-direction: row;
        width         : 100vw;
        height        : 40px;
        padding       : 20px 0;
    }

    main {
        padding: 120px 80px 80px 80px;
    }
}