$color1      : #f7f7f7;
$color2      : #eeeeee;
$color3      : #929aab;
$color4      : #393e46;
$light-shadow: 0 0 10px rgba(50, 50, 50, 0.2);
$strong-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
0 10px 10px rgba(0, 0, 0, 0.22);

@mixin bottom-border {
    border-bottom : 2px solid $color4;
    padding-bottom: 15px;
}

body {
    font-size       : 22px;
    font-family     : 'Raleway', sans-serif;
    letter-spacing  : 1px;
    background-color: $color2;
    color           : $color4;
    margin          : 0;
}

p {
    font-family: 'Manrope', sans-serif;
}

h2 {
    @include bottom-border();
}

h1,
h2,
h3 {
    letter-spacing: 2px;
}

// Nav
nav {
    position        : fixed;
    top             : 0;
    left            : 0;
    display         : flex;
    flex-direction  : column;
    justify-content : space-evenly;
    height          : 100vh;
    width           : 30px;
    padding         : 0 30px;
    font-size       : 28px;
    background-color: $color1;
    box-shadow      : $light-shadow;
    z-index         : 1;

    a {
        color             : $color3;
        position          : relative;
        animation-name    : left-fade-in;
        animation-duration: 2s;
    }

    a:hover {
        color     : $color4;
        transition: 1s ease;
        transform : rotate(360deg);
    }

    .active {
        color: $color4;
    }

    @keyframes left-fade-in {
        0% {
            left   : -150px;
            opacity: 0.1;
        }

        50% {
            font-size: 18px;
            top      : 0;
        }

        100% {
            left: 0;
        }
    }
}

// Main
main {
    display       : flex;
    flex-direction: column;
    padding       : 50px 150px 50px 280px;

    a {
        color: $color4;
    }

    a:hover {
        color     : $color3;
        transition: .5s ease-in-out;
    }

    h1 {
        position          : relative;
        animation-name    : top-fade-in;
        animation-duration: 2s;
    }

    @keyframes top-fade-in {
        0% {
            top    : -150px;
            opacity: 0.1;
        }

        50% {
            font-size: 30px;
            top      : 0;
        }

        100% {
            top: 0;
        }
    }
}

// Footer
footer {
    font-size      : 16px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin-bottom  : 15px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
    nav {
        flex-direction: row;
        width         : 100vw;
        height        : 40px;
        padding       : 20px 0;
    }

    main {
        padding: 120px 60px 60px 60px;
    }
}