$color1       : #f7f7f7;
$color2       : #eeeeee;
$color3       : #929aab;
$color4       : #393e46;
$color5       : #c06c84;
$light-shadow : 0 0 10px 0 rgba(50, 50, 50, 0.2);
$strong-shadow: 10px 15px 15px -5px rgba(50, 50, 50, 0.4);

@mixin bottom-border {
    border-bottom : 2px solid $color4;
    padding-bottom: 12px;
}

body {
    font-size       : 20px;
    font-family     : 'Raleway', sans-serif;
    letter-spacing  : 1px;
    background-color: $color2;
    color           : $color4;
    margin          : 0;
}

h1 {
    text-align: center;
}

h2 {
    @include bottom-border();
}

p {
    font-family: 'Manrope', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    letter-spacing: 2px;
}

img {
    border-radius: 5px;
}

// Nav
nav {
    position        : fixed;
    top             : 0;
    left            : 0;
    display         : flex;
    flex-direction  : column;
    justify-content : space-evenly;
    height          : 100vh;
    padding         : 0 25px;
    font-size       : 28px;
    background-color: $color1;
    box-shadow      : $light-shadow;
    z-index         : 1;

    a {
        position          : relative;
        color             : $color3;
        animation-name    : left-fade-in;
        animation-duration: 2s;
    }

    a:hover {
        color     : $color4;
        transition: 1s ease;
        transform : rotate(360deg);
    }

    .active {
        color: $color4;
    }

    @keyframes left-fade-in {
        0% {
            left   : -150px;
            opacity: .1;
        }

        50% {
            font-size: 18px;
            top      : 0;
        }

        100% {
            left: 0;
        }
    }
}

// Main
main {
    display       : flex;
    flex-direction: column;
    padding       : 30px 150px 20px 240px;

    a {
        color          : $color5;
        text-decoration: none;
    }

    a:hover {
        color     : $color4;
        transition: .5s ease-in-out;
    }

    h1 {
        position          : relative;
        animation-name    : top-fade-in;
        animation-duration: 2s;
    }

    @keyframes top-fade-in {
        0% {
            top    : -150px;
            opacity: 0.1;
        }

        50% {
            font-size: 30px;
            top      : 0;
        }

        100% {
            top: 0;
        }
    }
}

// Footer
footer {
    display        : flex;
    justify-content: center;
    align-items    : center;
    font-size      : 16px;
    margin-top     : 15px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
    nav {
        flex-direction: row;
        width         : 100vw;
        height        : 30px;
        padding       : 20px 0;
    }

    main {
        padding: 100px 60px 20px 60px;
    }

    footer {
        font-size: 16px;
    }
}