$color1: #f7f7f7;
$color2: #eeeeee;
$color3: #929aab;
$color4: #393e46;
$shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.25);

@mixin left-border {
    border-left : 2px solid $color4;
    padding-left: 20px;
}

body {
    font-family     : 'Manrope', sans-serif;
    background-color: $color2;
    color           : $color4;
    margin          : 0;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

// Nav
nav {
    position        : fixed;
    top             : 0;
    left            : 0;
    display         : flex;
    flex-direction  : column;
    justify-content : space-evenly;
    height          : 100vh;
    padding         : 0 30px;
    font-size       : 30px;
    background-color: $color1;
    box-shadow      : $shadow;

    a {
        color: $color3;
    }

    a:hover {
        color     : $color4;
        transition: 0.6s ease-in-out;
    }

    .active {
        color: $color4;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
    nav {
        flex-direction: row;
        padding       : 20px 0;
        height        : 40px;
        width         : 100vw;
    }
}

// Main
main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding: 0 20%;

}