@import "globals.css";
@import "components/index.css";
@import "components/about-me.css";
@import "components/skills.css";
@import "components/projects.css";
@import "components/blog.css";
@import "components/contact.css";